*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}


:root{
    --color-primary: #F18700;
    --color-success: #2b88f7;
    --color-warning:#3C4142;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#fff;
    --color-light:rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #593901;
--color-bg1: #F18700;
--color-bg2: #F18700;
--color-optional:#3C4142;
--color-berilayt:#F1F6F9;


--container-width-lg:80%;
--container-width-md: 90%;
--container-width-sm: 94%;

--transition:all 400ms ease;
}

body{
    font-family:"Montserrat",sans-serif;
    line-height:1.7;
    color:var(--color-black);
    background:var(--color-white);
}

.container{
    width:var(--container-width-lg);
    margin:0 auto;
}

section{
    padding:6rem 0;
}

section h2{
    text-align:center;
    margin-bottom:4rem;
}

h1, h2, h3, h4, h5{
    line-height:1.2;
}

h1{
    font-size:2.4rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.6rem;
}
h4{
    font-size:1.3rem;
}

a{
    color:var(--color-warning);
    font-weight:500;
}

img{
    width:100%;
    display:block;
    object-fit:cover;
}

.btn{
    display:inline-block;
    background:var(--color-primary);
    color:var(--color-white);
    padding:1rem 2rem;
    border:1px solid transparent;
    font-weight:500;
    transition:var(--transition);
}

.btn2{
    display:inline-block;
    background:var(--color-primary);
    color:var(--color-white);
    padding:1rem 2rem;
    border:1px solid transparent;
    font-weight:500;
    transition:var(--transition);
}

.btn2:hover{
    color:var(--color-white);
    background:transparent;
    border-color:var(--color-white);
}



.btn:hover{
    background:transparent;
    color:var(--color-primary);
    border-color:var(--color-bg2);
}

.btn-primary{
    background:var(--color-warning);
    color:var(--color-white);
}

.logoClass{
    width:60px;
    height:auto;
   
}

.logoClassFooter{
    width:60px;
    height:auto;
    margin:0 auto;
}



/*=======================NAVBAR============================*/

nav{
    background:transparent;
    width:100vw;
    height:5rem;
    position:fixed;
    top:0;
    z-index:11;
}

.window-scroll{
    background:var(--color-berilayt);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.nav__container{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav button{
    display:none;
}

.nav__menu{
    display:flex;
    align-items:center;
    gap:4rem;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu a:hover{
    color:var(--color-bg2);
}


/* =================================HEADER==================*/

header{
    position:relative;
    top: 5rem;
    overflow:hidden;
    height:70vh;
    margin-bottom:5rem;
}

.header__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap: 5rem;
    height:100%;
}


.header__left p{
    margin:1rem 0 2.4rem;
}




#ppp{
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
    height:auto;
   
}

.categories{
    background:var(--color-warning);
    color:var(--color-white);
    height:40rem;
}

.categories h1{
    line-height:1;
    margin-bottom:3rem;
}


.categories__container{
    display:grid;
    grid-template-columns: 30% 70%;
    gap:4rem;
  
}

.categories__left{
    margin-right:4rem;
    
}

.categories__left p{
    margin: 1rem 0 3rem;
    
}

.categories__right{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:1.2rem;
    color:white;
}

.category{
    background: var(--color-primary);
    padding:2rem;
    border-radius:1.2rem;
    transition:var(--transition);
}


.category:nth-child(2) .category__icon{
background: var(--color-success);
}

.btn-primary2{
    background:var(--color-primary);
    color:var(--color-white);
}







.category__icon{
    background:var(--color-success);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin:2rem 0 1rem;
}

.category p{
    font-size:0.85rem;
}



.menus{
    margin-top:3rem;
    color:white;
}

.menus__container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  
}

.menu{
    background:var(--color-warning);
    text-align:center;
    border:1px solid transparent;
    transition:var(--transition);
}


.menu__info{
    padding:2rem;
}

.menu__info p{
    margin:1.2rem 0 2rem;
    font-size: 0.9rem;
}



.btn-primary3{
    background:var(--color-warning);
    color:var(--color-white);
}

.btn-primary3:hover{
    background:transparent;
    border:1px solid var(--color-warning);
    color:var(--color-warning);
}

.team{
    background:var(--color-berilayt);
    box-shadow:inset 0 0 3rem rgba(0, 0 , 0, 0.5);
    color:var(--color-primary);
    margin-top:0;

}

.team__container{   
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:2rem;
}

.team__member{
    background:var(--color-berilayt);
    padding:2rem;
    border:1px solid var(--color-warning);
    transition:var(--transition);
    position:relative;
    overflow:hidden;
    border-radius:1rem;
   
       
    
}


.team__member:hover{
    background:transparent;
    border-color:var(--color-warning);
}


.team__member img{
    height:300px;
}


.team__member-image img{
    filter:saturate(0);
}

.team__member:hover img{
    filter:saturate(1);
}

.team__member-info *{
 text-align:center;
 margin-top:1.4rem;
}

.team__member-info p{
    color:var(--color-warning);
    text-align:left;
}

.team__member-socials{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:-100%;
    display:flex;
    flex-direction: column;
    background:var(--color-warning);
    border-radius:1rem 0 0 1rem;
    box-shadow:-2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition:var(--transition);
   
}

.team__member:hover .team__member-socials{
    right:0;
}


.team__member-socials a{
    padding:1rem;
    color:white;
}


.cardNews{
    margin-top:8rem;
    margin-left:5rem;
    margin-bottom:5rem;
    margin-right:5rem;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    background-color:white;
    gap:2rem;
    color:var(--color-berilayt);
    
    
}

.cardBox{
background-color:var(--color-warning);
border-radius:20px;
border:1px solid var(--color-warning);
padding:2rem;
text-align: left;

}

.cardBox h3{
    padding-top:1.5rem;
    font-size:1.3rem;
}

.cardBox h4{
    padding-top:1rem;
    font-size:15px;
    text-align:right;
    padding-bottom:0.9rem;

}

.cardBox span{
    font-size:18px;
    padding-bottom:2rem;
}

.cardNews img{
    width:contain;
    border-radius:30px;
    height:200px;
    
}

.cardBox p{
    font-size:16px;
}

.cardBox h5{
    text-align:right;
    font-weight:400;
}

footer{
    background:var(--color-berilayt);
    box-shadow:0 0 3rem rgba(0, 0, 0, 0.5);
   padding-top:5rem;
   font-size:0.9rem; 
   
}

section{
    margin:0;
}



.footer__container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5rem;
}

.footer__container > div h4{
    margin-bottom:1.2rem;
}

.footer__1p{
    margin:0 0 2rem;
}

.footer ul li{
    margin-bottom:0.7rem;
}


.footer ul li a:hover{
    text-decoration:underline;
 
}


.footer__socials{
    display:flex;
    gap:1rem;
    font-size:1.2rem;
    margin-top:2rem;
}


.footer__copyright{
    text-align:center;
    margin-top:4rem;
    padding:1.2rem 0;
    border-top:1px solid var(--color-bg2);
}


.testimonials__container{
    overflow-x:hidden;
    position:relative;
    margin-bottom:5rem;
}

.testimonial{
    padding-top:2rem;
}

.avatar{
    width:6rem;
    height:6rem;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto 1rem;
    border:1rem solid var(--color-bg2);
}

.testimonial__info{
    text-align:center;
}

.testimonial__body{
    background:var(--color-warning);
    padding:2rem;
    margin-top:3rem;
    position:relative;
    color:white;
    border-radius:20px;
}


.about__achievements{
    margin-top:3rem;
}
.about__achievements-container{
    display:grid;
    grid-template-columns: 40% 60%;
    gap:5rem;
}

.about__achievements-right > p{
    margin: 1.6rem 0 2.5rem;
}

.achievements__cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem;
    color:white;
}

.achievement__card{
    background:var(--color-optional);
    padding:1.1rem;
    border-radius:1rem;
    text-align:center;
    transition:var(--transition);
}

.achievement__card:hover{
    background:var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon{
    background: var(--color-primary);
    padding:0.6rem;
    border-radius:1rem;
    display:inline-block;
    margin-bottom:2rem;
    font-size:2rem;
}


.achievement__card:nth-child(2) 
.achievement__icon{
    background:var(--color-success);
}

.achievement__card:nth-child(3) 
.achievement__icon{
    background:var(--color-danger);
}

.achievement__card p {
    margin-top:1rem;
}

.overviewcover{
    width:100%;
    height:auto;
}

.aboutMe {
    margin-top:5rem;
    text-align: center;
    padding: 40px 0;
    margin-bottom:5rem;
}

.aboutme_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme__card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    max-width: 600px;
}

.aboutme__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme__img img {
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.aboutme__text {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.aboutme__text h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color:var(--color-primary);
}

.aboutme__text h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--color-optional);
}

.aboutme__text p {
    font-size: 1rem;
    padding-bottom:1rem;
    line-height: 1.5;
    color: #333;
}

.hire-btn {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hire-btn:hover {
    background-color: transparent;
    color:var(--color-primary);
    border:1px solid var(--color-primary);
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.section {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
}

.card {
    background-color: var(--color-berilayt);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-warning);
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
    color: #666;
}


.section {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
}

.card {
    background-color:var(--color-berilayt);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-warning);
}

.card p{
padding-bottom:1rem;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
    color: #666;
}

.merchandise-image {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto 10px; 
    display: block; 
}




.buy-button {
    background-color:var(--color-primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover{
    background-color: transparent;
    border:1px solid var(--color-primary);
    color:var(--color-primary);
}

.next-button{
    background-color:var(--color-warning);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}




.join-us h3{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--color-warning);
    text-align: center;
}



.join-us {
    padding: 20px;
    margin-bottom:5rem;
}

.open-positions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; 
}

.position-box {
    width: calc(33.33% - 20px); 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; 
    box-sizing: border-box;
}

.position-box h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.position-box p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.apply-button {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color:transparent;
    border:1px solid var(--color-primary);
    color: var(--color-primary);
}


































@media screen and (max-width:1024px){
    .container{
        width:var(--container-width-md);
    }

    h1{
        font-size:2rem;
    }

    h2{
        font-size:1.7rem;
       }
       h3{
        font-size:1.4rem;
       }
       h4{
        font-size:1.2rem;
       }


       nav button{
        display:inline-block;
        background: transparent;
        font-size:1.8rem;
        color:#F18700;
        cursor:pointer;
       }


       nav button#close-menu-btn{
        display:none;
       }

       .nav__menu{
        position:fixed;
        top:5rem;
        right:5%;
        height:fit-content;
        width:18rem;
        flex-direction: column;
        gap:0;
        display:none;
       }

       .nav__menu li{
        width:100%;
        height:5.8rem;
        animation:animateNavItems 400ms linear forwards;
        transform-origin:top right;
        opacity:0;
       }

       .nav__menu li:nth-child(2){
        animation-delay: 200ms;
       }

       .nav__menu li:nth-child(3){
        animation-delay: 400ms;
       }

       .nav__menu li:nth-child(4){
        animation-delay: 600ms;
       }


       @keyframes animateNavItems{
        0%{
            transform:rotateZ(-90deg);
        }
        100%{
            transform :rotate(0);
            opacity:1;
        }
       }

       .nav__menu li a{
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0,0,0.6);
        width:100%;
        height:100%;
        display:grid;
        place-items:center;
        color:var(--color-berilayt);
       }

       .nav__menu li a:hover{
        background: var(--color-bg2);
        color:var(--color-berilayt);
       }

       .header{
        height:52vh;
        margin-bottom:4rem;
       }

       .header__container{
        gap:0;
        padding-bottom:3rem;
       }


       .categories{
        height:auto;
       }
       .categories__container{
        grid-template-columns: 1fr;
        gap:2rem;
       }

       .categories__left{
        margin-right:0;
       }

       .menus{
        margin-top:0;
       }

.menus__container{
grid-template-columns: 1fr 1fr;
}

.about__achievements{
    margin-top:2rem;
}


.about__achievements-container{
    grid-template-columns:1fr;
    gap:4rem;
}

.about__achievements-left{
    width:80%;
    margin:0 auto;

}

.overviewcover{
    width:80%;
    height:auto;
}

main {
    flex-direction: column; 
    align-items: center; 
}

.section {
    flex-basis: calc(100% - 20px); 
}

.card {
    max-width: 300px; 
}

.card p {
    padding-bottom: 1rem; 
}

.merchandise-image {
    max-width: 100%; 
}

.buy-button,
.next-button {
    width: 100%; 
    margin-top: 10px; 
}

.cardBox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.cardBox img {
    margin-bottom: 10px;
}

.btn {
    width: fit-content; 
    padding:10px 20px;
}

.cardNews h4, h5{
    padding-bottom:1rem;
}


.join-us h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.open-positions {
    flex-wrap: wrap;
    justify-content: center; 
}

.position-box {
    width: calc(33.33% - 20px); 
    margin: 10px; 
    box-sizing: border-box; 
}

.position-box h4 {
    font-size: 1rem;
}

.position-box p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.apply-button {
    padding: 8px 16px;
    font-size: 0.9rem;
}







}




@media screen and (max-width: 600px){
    .container{
        width:var(--container-width-sm);
    }

    
    .nav__menu{
        right:3%;
    }

     
   header{
    height:100vh;
   }

   .header__container{
    grid-template-columns: 1fr;
    text-align:center;
    margin-top:0;
   }

   .header__left p{
    margin-bottom:1.3rem;
   }

      
   .categories__right{
    grid-template-columns: 1fr 1fr;
    gap:0.7rem;
   }

   .category{
    padding:1rem;
    border-radius:1rem;
   }

   .category__icon{
    margin-top:4px;
    display:inline-block;
   }

   
      
 .menus__container{
    grid-template-columns: 1fr;
 }

 
      

       .testimonial__body{
        padding:1.2rem;
       }

    
       

       .footer__container{
        grid-template-columns: 1fr;
        text-align:center;
        gap:2rem;
       }

       .footer__1 p{
        margin:1rem auto;
       }

       .footer__socials{
        justify-content: center;
       }


       .team__container{
        grid-template-columns: 1fr;
        gap:0.7rem;
        font-size:0.8rem;
    }
    

    .team__member{
        padding:1rem;
    }

    .team__member p{
        margin-bottom:1.5rem;
    }

    .team__member img{
        height:250px;
    }

    .cardNews{
        grid-template-columns: 1fr;
        padding-top:5rem;
        margin:1rem;
        margin-bottom:5rem;
    }

    .cardNews p{
        text-align: left;
        padding-top:1rem;
    }

    .cardNews h5{
        padding-bottom:1rem;
        text-align:center;
    }

    .cardNews h4{
        padding-bottom:1rem;
        text-align:center;
    }

    .cardBox{
        padding-top:5rem;
    }

    .cardBox{
        text-align:center;
    }

    .achievements__cards{
        grid-template-columns:1fr 1fr;
        gap:0.9rem;
    }

    .overviewcover{
        width:300px;
        height:auto;
    }


    .aboutMe {
        margin-top:7rem;
        margin-bottom:5rem;
    }

    main {
        padding: 10px; 
    }

    .section {
        flex-basis: 100%; 
        margin-bottom: 20px; 
    }

    .card {
        max-width: 100%; 
        margin: 0 10px 20px; 
        padding: 20px; 
    }

    .card h3 {
        font-size: 1.2rem; 
    }

    .card p {
        padding-bottom: 0.5rem; 
    }

    .buy-button,
    .next-button {
        width: 100%; 
        margin-top: 10px; 
        font-size: 0.9rem; 
    }


    .join-us h3 {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .open-positions {
        flex-wrap: wrap;
        justify-content: center; 
    }

    .position-box {
        width: calc(50% - 20px); 
        margin: 10px; 
        box-sizing: border-box; 
    }

    .position-box h4 {
        font-size: 1rem;
    }

    .position-box p {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    .apply-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }


}







